<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="elsuper.david.com.practica2">

    <!--Por si es necesario para la opción de abrir la página web-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DetailActivity"
            android:label="@string/detail_msgDetail"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".InsertActivity"
            android:label="@string/menu_main_msgAdd"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name=".service.ServiceNotificationUpdate"></service>
    </application>

</manifest>